/* 버튼 기본 스타일 */
.filter-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px solid #2962ff; /* 버튼 테두리 색상 */
  background-color: #f0f0f0; /* 버튼 기본 배경색 */
  color: #2962ff; /* 버튼 텍스트 색상 */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* 색상 전환 효과 */
}

/* 마우스 호버 시의 스타일 */
.filter-button:hover {
  background-color: #2962ff; /* 호버 시 배경색 */
  color: white; /* 호버 시 텍스트 색상 */
  border-color: #f0f0f0; /* 호버 시 테두리 색상 */
}
