{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}

{{ if $item.Params.external_link }}
{{ $link = $item.Params.external_link }}
{{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{/* Get summary */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
{{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
{{ $summary = $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
{{ $summary = $item.Summary }}
{{ end }}

{{ $resource := partial "blox-core/functions/get_featured_image.html" $item }}

<div class="custom-card">
  {{ with $resource }}
  {{ $image := .Resize "550x" }}
  <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
    <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}" loading="lazy">
  </a>
  {{ end }}

  <div class="card-content">
    <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>
    {{ with $summary }}
    <p>{{ . }}</p>
    {{ end }}

    {{ if $item.Params.authors }}
    <div class="article-metadata">
      {{ partial "page_metadata_authors" $item }}
    </div>
    {{ end }}

    {{ if partial "functions/has_attachments" $item }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  </div>
</div>
